# Title of project

The purpose of this notebook is to provide a template for data science use cases, primarily for exploration and self-education.

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ydata_profiling import ProfileReport
import seaborn

# Explore and visualize data

In [28]:
# df with continuous, ordinal, and binary variables
nrows, ncols = 100, 5
df = (
    pd.DataFrame(
        np.random.rand(nrows, ncols), columns=["a", "b", "c", "d", "e"]
    ).assign(f_ordinal=np.random.choice([0,1,2,3], nrows), g_binary=np.random.choice([True, False], nrows))
)

# Edit to read a saved file
# df = pd.read_csv(Path('data', 'example_data.csv'))

print(df.shape)
df.head()

(100, 7)

          a         b         c         d         e  f_ordinal  g_binary
0  0.317719  0.334935  0.361731  0.384500  0.716089          1      True
1  0.441401  0.718324  0.535133  0.002182  0.881608          0      True
2  0.016398  0.261541  0.836987  0.831274  0.303152          2      True
3  0.449436  0.011226  0.275680  0.347634  0.186265          0      True
4  0.492834  0.993024  0.984214  0.163140  0.431862          1     False

In [29]:
# save data
df.to_csv(Path('data', 'example_data.csv'), index=False)

# Visualize data