# Title of project

The purpose of this notebook is to provide a template for data science use cases, primarily for exploration and self-education.

In [3]:
from pathlib import Path

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
#from ydata_profiling import ProfileReport

# Explore and visualize data

In [4]:
# df with continuous, ordinal, and binary variables
nrows, ncols = 100, 5
df = pd.DataFrame(np.random.rand(nrows, ncols), columns=["a", "b", "c", "d", "e"]).assign(f_ordinal=np.random.choice([0,1,2,3], nrows), g_binary=np.random.choice([True, False], nrows))

# Edit to read a saved file
# df = pd.read_csv(Path('data', 'example_data.csv'))

print(df.shape)
df.head()

(100, 7)

          a         b         c         d         e  f_ordinal  g_binary
0  0.839609  0.210130  0.110910  0.430913  0.029364          1     False
1  0.793381  0.735738  0.838125  0.902572  0.466278          3      True
2  0.079223  0.768216  0.309530  0.180720  0.053637          1      True
3  0.752527  0.015389  0.423066  0.878907  0.820686          0     False
4  0.772704  0.206457  0.927798  0.933204  0.726008          2      True

In [29]:
# save data
df.to_csv(Path('data', 'example_data.csv'), index=False)

# Visualize data