# Title of project

The purpose of this notebook is to provide a template for data science use cases, primarily for exploration and self-education.

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ydata_profiling import ProfileReport
import seaborn

# Explore and visualize data

In [4]:


# edit path
# df = pd.read_csv(Path
df = pd.DataFrame(np.random.rand(100, 5), columns=["a", "b", "c", "d", "e"])
df.head()

          a         b         c         d         e
0  0.381746  0.858600  0.480602  0.220168  0.890007
1  0.782627  0.691319  0.125204  0.646212  0.018627
2  0.552427  0.885564  0.660191  0.523789  0.426716
3  0.028381  0.300091  0.168930  0.371087  0.872667
4  0.556261  0.618107  0.709087  0.474098  0.341080

In [ ]:
df.to_csv('example_data.csv')

In [ ]:
# mport data

# Explor data

# Visualize data