# Title of project

The purpose of this notebook is to provide a template for data science use cases, primarily for exploration and self-education.

In [10]:
# from ydata_profiling import ProfileReport
from pathlib import Path

import numpy as np
import pandas as pd
import seaborn as sns

In [11]:
rng = np.random.default_rng(12345)
sns.set_context("talk")
sns.set_palette("colorblind")

# Explore and visualize data

In [26]:
# df with continuous, ordinal, and binary variables
nrows, ncols = 100, 5
df_example = pd.DataFrame(
    rng.random((nrows, ncols)), columns=["a", "b", "c", "d", "e"]
).assign(
    f_ordinal=rng.choice([0, 1, 2, 3], nrows), g_binary=rng.choice([True, False], nrows)
)


# Edit to read a saved file
# df_example = pd.read_csv(Path('data', 'example_data.csv'))

print(df_example.shape)
df_example.head()

(100, 7)

          a         b         c         d         e  f_ordinal  g_binary
0  0.912145  0.267538  0.324283  0.641630  0.915877          0     False
1  0.065965  0.468238  0.810953  0.496197  0.601386          2      True
2  0.714942  0.627985  0.014323  0.889148  0.244947          3      True
3  0.428069  0.844190  0.350201  0.437155  0.606504          3     False
4  0.350349  0.278180  0.521368  0.178840  0.395493          3     False

In [18]:
# save data
df_example.to_csv(Path("data", "example_data.csv"), index=False)

In [ ]:
# use pandas profiling for fast exploration
# profile = ProfileReport(df_example, title="Profiling Report")

# Visualize data