# Title of project

The purpose of this notebook is to provide a template for data science use cases, primarily for exploration and self-education.

In [4]:
# from ydata_profiling import ProfileReport

In [15]:
fruits = ["apple", "banana", "orange", "apple", "apple", "banana", "orange", "apple","apple", "banana", "orange", "apple", "banana", "orange", "apple","apple", "banana", "orange", "apple"]

In [16]:
sns.set_context("talk")
sns.set_palette("colorblind")

# Explore and visualize data

In [22]:
rng = np.random.default_rng(12345)

rng.choice(a=[0,1], size=1)

array([1])

In [17]:
# df with continuous, ordinal, and binary variables
nrows, ncols = 100, 5
df = pd.DataFrame(np.random.rand(nrows, ncols), columns=["a", "b", "c", "d", "e"]).assign(f_ordinal=np.random.choice([0,1,2,3], nrows), g_binary=np.random.choice([True, False], nrows))


# Edit to read a saved file
# df = pd.read_csv(Path('data', 'example_data.csv'))

print(df.shape)
df.head()

(100, 7)

          a         b         c         d         e  f_ordinal  g_binary
0  0.688276  0.425447  0.937021  0.502073  0.602781          2      True
1  0.383691  0.900266  0.337221  0.998373  0.241611          0      True
2  0.888629  0.064365  0.496544  0.947587  0.962175          1      True
3  0.191034  0.435906  0.549869  0.018981  0.604301          2     False
4  0.710974  0.642328  0.336228  0.311755  0.606153          2     False

In [18]:
# save data
df.to_csv(Path("data", "example_data.csv"), index=False)

In [ ]:
# use pandas profiling for fast exploration
# profile = ProfileReport(df, title="Profiling Report")

# Visualize data